@charset "utf-8";
@import url(./normalize.css);

/* All Device */
.container{
  background-color: silver;
}

.header{
  background-color: yellowgreen;
  height: 10vh;
}

.navigation{
  background-color: pink;
  height: 20vh;
}

.main{
  background-color: skyblue;
  /* height: 60vh; */
  display: grid;
}

.book{
  background-color: purple;
}
.news{
  background-color: orange;
}
.board{
  background-color: yellow;
}
.favorite{
  background-color: aqua;
}
.twitter{
  background-color: green;
}

.footer{
  background-color: orange;
  height: 10vh;
}

/* Mobie Device */
@media screen and (max-width: 800px){
  .main{
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: "book book"
                         "board twitter"
                         "favorite ."
                         "news news";
    /* grid-column-gap: 20px; */
  }

  .book{
    grid-area: book;
  }

  .twitter{
    grid-area: twitter;
  }

  .news{
    grid-area: news;
  }

  .board{
    grid-area: board;
  }

  .favorite{
    grid-area: favorite;
  }

}


/* Tablet Device */
@media screen and (min-width: 800px) and (max-width: 1200px){
  .main{
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns: repeat(4,25%);
    /* grid-column-gap: 20px; */
  }

  .news{
    /* grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5; */
    grid-area: 1/1/2/5;
  }

  .book{
    /* grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3; */
    /* grid-area: 2/1/3/3; */
    grid-column: 1/3;
  }

  .twitter{
    /* grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4; */
    grid-area: 3/1/4/4;
  }


  .board{
    /* grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 5; */
    grid-area: 4/2/5/5;
  }

  .favorite{
    /* grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5; */
    grid-area: 2/4/4/5;
  }

}

/* Desktop Device */
@media screen and (min-width: 1200px){
  .container{
    max-width: 1600px;
    margin: 0 auto;
  }
  
  .main{
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: repeat(8,11.1875%);
    grid-column-gap: 1.5%;
  }

  .news{
    grid-area: 1/2/2/8;
  }

  .book{
    grid-area: 2/1/3/4;
  }

  .board{
    grid-area: 2/5/3/9;
  }

  .favorite{
    grid-area: 3/1/4/4;
  }

  .twitter{
    grid-area: 3/4/4/8;
  }

}